@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,600;0,900;1,100;1,900&display=swap');

body {
  margin: 0;
  background-color: rgb(255, 123, 123);
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "+";
  padding-right: 5px;
}

.container {
  max-width: 100vh;
  background-image: url(https://i.pinimg.com/originals/fe/91/67/fe916717e71bf9a119f2d888ec367820.gif);
  padding: 20px;
  margin-top: 20vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(76, 43, 69, 0.2), 0 6px 20px 0 rgba(64, 31, 48, 0.19);
}

.container h3 {
  font-size: 40px;
  margin-top: 4vh;
  color: rgb(64, 70, 89);
  background-color: rgba(255, 255, 255, 0.452);
}

.header-button {
  width: 3vh;
  margin-right: 5vh;
  transition: opacity 0.4s;
}

.header-button:hover {
  opacity: 0.2;
  cursor: pointer;
}

.now-playing {
  font-size: 10px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.445);
  text-align: end;
  color: white;
  text-decoration: none;
}

.now-playing a:link {
  color: #d8515d;
  text-decoration: none;
}

.now-playing a:visited {
  color: #d8515d;
  text-decoration: none;
}

.accordion-header {
  border-radius: 10px;
}

.form-label {
  font-size: 20px;
  font-weight: 600;
}

.photo {
  width: 20vh;
  height: 20vh;
  align-self: center;
}